
.Navigation-movies {
    width: 318px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.Navigation-movies__movie {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 49px;
    width: fit-content;
    margin: 0;
    opacity: 1;
    transition: all .2s linear;
}

.Navigation-movies__movie:hover {
    opacity: .7;
}

.Navigation-movies__saved {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    margin-left: 16px;
    opacity: 1;
    transition: all .2s linear;
}

.Navigation-movies__saved:hover {
    opacity: .7;
}

.Navigation-movies_active {
    font-weight: 500;
}

.Navigation-control {
    width: 182px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Navigation-control__register {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
    transition: all .2s linear;
}

.Navigation-control__register:hover {
    opacity: .7;
}

.Navigation-control_deactive {
    display: none;
}

.Navigation-control__login {
    width: 76px;
    height: 32px;
    margin-left: 30px;
    background-color: #3DDC84;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: all .2s linear;
}

/* .Navigation-controln_deactive {
    display: none;
} */

.Navigation-control__text {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    opacity: 1;
    transition: all .2s linear;
}

.Navigation-control__text:hover {
    opacity: .7;
}

.Navigation-control__account {
    width: 100px;
    height: 32px;
    background-image: url(../../../images/logo/account.svg);
    background-position: center;
    border: 0;
    padding: 0;
    margin: 0;
    margin-left: 83px;
    margin-top: 5px;
    opacity: 1;
    transition: all .2s linear;
}

.Navigation-control__account:hover {
    opacity: .7;
}

.Navigation-control__sandwich {
    display: none;
}
