

@media screen and (min-width: 801px) and (max-width: 1279px) {
    .Navigation-control__account {
        width: 100px;
        height: 32px;
        background-image: url(../../../images/logo/account.svg);
        background-position: center;
        border: 0;
        padding: 0;
        margin: 0;
        margin-left: 83px;
        margin-top: 5px;
        opacity: 1;
        transition: all .2s linear;
    }
    
    .Navigation-control__account_active {
        display: block;
    }
    
    .Navigation-control__account_deactive {
        display: none;
    }
    
    .Navigation-control__account:hover {
        opacity: .7;
    }
    
    .Navigation-control__sandwich {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    .Navigation-control {
        justify-content: end;
    }
    
    .Navigation-control__account {
        display: none;
    }

    .Navigation-control__sandwich {
        display: block;
        width: 44px;
        height: 44px;
        background-image: url(../../../images/logo/main-menu.svg);
        background-color: #202020;
        padding: 0;
        border: 0;
        opacity: 1;
        transition: all .2s linear;
    }

    .Navigation-control__sandwich:hover {
        cursor: pointer;
        opacity: .7;
    } 

    .Navigation-movies__saved {
        display: none;
    }

    .Navigation-movies__movie {
        display: none;
    }
}