.Header {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 74px;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.Header-logo {
    width: 38px;
    height: 38px;
    opacity: 1;
    transition: all .2s linear;
}

.Header-logo:hover {
    opacity: .7;
}

.Header-logo_deactive:hover {
    opacity: 1;
}

.Header-logo__movies {
    margin-right: 250px;
    margin-left: 0;
}

.Header-account {
    display: flex;
    flex-direction: row;
}

.Header-account__box {
    width: 26px;
    height: 26px;
    border-radius:  50%;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.Header-account__logo {
    width: 11px;
    height: 11px;
}

.NavTab-control__account {
    display: none;
}
