@media screen and (min-width: 320px) and (max-width: 767px) {
    .MoviesCardList {
        height: fit-content;
        margin-top: 54px;
    }

    .MoviesCardList-container {
        grid-template-columns: 100%;
        /* grid-template-columns: 300px; */
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
        row-gap: 16px;
    }

    .MoviesCardList-button {
        width: 240px;
        margin-bottom: 123px;
    }
}