@media screen and (min-width: 320px) and (max-width: 767px) {
    .SearchForm {
        width: 91%;
        height: 230px;
    }

    .SearchForm-form__input {
        height: 44px;
        margin-top: 79px;
        padding-left: 17px;
        font-size: 12px;
        line-height: 18px;
    }

    .SearchForm-form__button {
        font-size: 12px;
        line-height: 18px;
        height: 44px;
        margin-top: 79px;
    }

    .label {
        margin-top: 44px;
    }

    .label__name {
        font-size: 11px;
        line-height: 18px;
        margin-left: 14px;
    }
}