.Login {
    background-color: #202020;
    color: #FFFFFF;
    min-height: 741px;
    margin: auto;
}

.Login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 398px;
    margin: auto;
    margin-top: 140px;
}

.Login-logo {
    margin: 0;
    margin-top: 5px;
    margin-right: auto;
    opacity: 1;
    transition: all .2s linear;
}

.Login-logo:hover {
    opacity: .7;
}

.Login-logo__img {
    width: 38px;
    height: 38px;
}

.Login-title {
    margin-top: 35px;
    text-align: start;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;

}

.Login-form {
    display: flex;
    flex-direction: column;
}

.Login-form__title {
    text-align: start;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    margin-bottom: 11px;
}

.Login-form__title_margin-top {
    margin-top: 9px;
}

.Login-form__input {
    min-height: 46px;
    border-radius: 8px;
    background-color: #2F2F2F;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 0;
    padding-left: 17px;
}

.Login-form__error {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin-top: 10px;
}

.Login-form__input:focus {
    box-shadow: 0 0 2px 3px rgba(66, 133, 244, .5);
}

.Login-form__button {
    min-height: 45px;
    background-color: #4285F4;
    color: #FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    opacity: 1;
    transition: all .2s linear;
}

.Login-form__button:hover {
    cursor: pointer;
    opacity: .7;
}

.Login-form__button_disabled {
    min-height: 45px;
    background-color: #8B8B8B;
    color: #C2C2C2;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    opacity: 1;
    transition: all .2s linear;
}

.Login-form__button_disabled:hover {
    cursor: default;
    opacity: 1;
}

.Login-question {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    margin-top: 16px;
}

.Login-question__signin {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    opacity: 1;
    transition: all .2s linear;
}

.Login-question__signin:hover {
    opacity: .7;
}

.Login-form_error-server {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #EE3465;
    margin-top: 159px;
    text-align: center;
}